- var signin = false
- var user = {name:'Юлий Цезарь'}

.auth
    - if (signin)
        button.light.user !{user.name}
    - else
        button.stroke Войти
        button.solid Зарегистрироваться
script(src='./components/form_elements/styles.js')
script(src='./components/form_elements/authorization/auth.js')